.title {
  text-align: center;
}
.title h2 {
  font-size: 44px;
  font-weight: 900;
  line-height: 54px;
  color: #0e1133;
  margin-bottom: 15px;
}
.title p {
  color: #505056;
  font-size: 18px;
  line-height: 28px;
  margin: 0;
}

header .btn {
  font-size: 15px;
  font-weight: 500;
  line-height: 45px;
  padding: 0 30px;
}
header .btn:hover {
  color: #2b70fa;
  border: 1px solid #2b70fa;
  background-color: #fff;
}
header .lang-btn {
  color: #2b70fa;
}
header .lang-btn:hover {
  background-color: #2b70fa;
  color: #fff;
}
header .mode-btn {
  background: rgb(223, 223, 44);
  background: radial-gradient(circle, rgb(223, 223, 44) 6%, rgb(6, 35, 41) 69%);
}
header .mode-btn-dark {
  background: rgb(223, 223, 44);
  background: radial-gradient(circle, rgb(223, 223, 44) 34%, rgb(142, 216, 231) 86%);
}
header .btn-func {
  background-color: #eef1f6;
  border: 0;
}
header .btn-func:hover {
  border: 0;
}

.initial .buttons .btn {
  position: relative;
  height: 45px;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  padding: 0 23px;
  border: 2px solid #0e1133;
  border-radius: 6px;
  transition: 0.3s;
  overflow: hidden;
  z-index: 1;
}
.initial .buttons .btn i {
  margin-right: 5px;
}
.initial .buttons .btn::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: -100%;
  width: 100%;
  height: 100%;
  text-align: left;
  transition: 0.3s;
  background-color: #fff;
  border-radius: 50%;
  z-index: -1;
}
.initial .buttons .btn:hover::before {
  bottom: 0;
  border-radius: 0;
}
.initial .buttons .btn-ios {
  background-color: #0e1133;
  margin: 0 12px 0 0;
  color: #fff;
}
.initial .buttons .btn-ios::before {
  background: #fff;
}
.initial .buttons .btn-ios:hover {
  color: #0e1133;
}
.initial .buttons .btn-and {
  background-color: #fff;
  color: #0e1133;
}
.initial .buttons .btn-and::before {
  background: #292929;
}
.initial .buttons .btn-and:hover {
  color: #fff;
}

.btn-w-arrow {
  position: relative;
  font-size: 15px;
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid #e7eaef;
  border-radius: 6px;
  text-align: center;
  padding: 8px 28px;
  transition: 0.3s;
  overflow: hidden;
  z-index: 1;
}
.btn-w-arrow i {
  margin-left: 5px;
  transition: 0.3s;
}
.btn-w-arrow:hover {
  color: #fff;
  border: 2px solid #2b70fa;
}
.btn-w-arrow:hover i {
  transform: translate(3px);
}
.btn-w-arrow::before {
  position: absolute;
  content: "";
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  text-align: left;
  transition: 0.3s;
  background-color: #2b70fa;
  border-radius: 50%;
  z-index: -1;
}
.btn-w-arrow:hover::before {
  left: 0;
  border-radius: 0;
}

.read {
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0;
  text-transform: capitalize;
  text-decoration: none;
  color: #0e1133;
  padding: 0;
  display: inline-block;
  transition: 0.3s;
}
.read i {
  margin-left: 5px;
}
.read:hover {
  color: #2b70fa;
}

.reactions .btn {
  font-size: 15px;
  font-weight: 500;
  line-height: 47px;
  color: #fff;
  background-color: #2b70fa;
  border-radius: 6px;
  padding: 0 30px;
}
.reactions .btn:hover {
  border: 1px solid #0e1133;
  background-color: #0e1133;
}

.plans .btn {
  padding: 0;
  margin: 25px 0 10px;
}
.plans .btn a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  color: #0e1133;
  background-color: #fff;
  border-radius: 5px;
  border: 2px solid #e7eaef;
  padding: 12px 24px;
  transition: 0.3s;
}
.plans .btn:hover a {
  background-color: #f8452d;
  border-color: #f8452d;
  color: #fff;
}
.plans .btn-red a {
  background-color: #f8452d;
  border-color: #f8452d;
  color: #fff;
}

.foot-bar .btn {
  height: 45px;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  padding: 0 23px;
  border-radius: 6px;
  transition: 0.3s;
  z-index: 1;
}
.foot-bar .btn i {
  margin-right: 5px;
}
.foot-bar .btn-f-ios {
  background-color: #fff;
  border: 2px solid #fff;
  margin-right: 20px;
}
.foot-bar .btn-f-ios:hover {
  background-color: transparent;
  border: 2px solid #e7eaef;
}
.foot-bar .btn-f-and {
  background-color: transparent;
  border: 2px solid #e7eaef;
}
.foot-bar .btn-f-and:hover {
  background-color: #fff;
  border: 2px solid #fff;
}

header {
  width: 100%;
  z-index: 100;
}
header nav {
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.04);
}
header nav svg .a {
  fill: #0e1133;
}
header nav svg .b {
  fill: #2b70fa;
}
header nav .navbar-nav li {
  margin-left: 30px;
  cursor: pointer;
  text-transform: capitalize;
}
header nav .navbar-nav li a {
  font-size: 15px;
  font-weight: 500;
  color: #0e1133;
}
header nav .navbar-nav li:hover .nav-link {
  color: #2b70fa;
}
header nav .navbar-nav .dropdown li {
  margin: 0;
}
header nav .navbar-nav .dropdown .dropdown-menu li a {
  transition: 0.3s;
  line-height: 40px;
}
header nav .navbar-nav .dropdown .dropdown-menu li a:hover {
  background-color: transparent;
  color: #2b70fa;
  transform: translate(6px);
}
header nav .navbar-nav .dropdown .drop-home li {
  display: inline-block;
}
header nav .navbar-nav .dropdown .drop-home li a {
  text-align: center;
}
header nav .navbar-nav .dropdown .drop-home li a img {
  width: 145px;
  height: 190px;
}
header nav .navbar-nav .dropdown .drop-home li:hover a {
  transform: translate(0, -5px);
  color: #0e1133;
}
header nav .navbar-nav .dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}
header nav .login {
  font-size: 15px;
  font-weight: 500;
  color: #0e1133;
}

.nav-dark svg .a {
  fill: #fff;
}
.nav-dark svg .b {
  fill: #2b70fa;
}
.nav-dark .navbar-nav li .dropdown-menu a {
  color: #0e1133;
}
.nav-dark .navbar-nav li a {
  color: #fff;
}
.nav-dark .login {
  color: #fff;
}

.initial {
  height: 100vh;
  padding-top: 150px;
}
.initial .row .init-info {
  padding-top: 50vh;
}
.initial .row .init-info span {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5em;
  color: #2b70fa;
}
.initial .row .init-info h1 {
  font-size: 60px;
  font-weight: 900;
  line-height: 70px;
  margin: 7px 0 22px;
}
.initial .row .init-info p {
  font-size: 18px;
  line-height: 28px;
  color: #505056;
}
.initial .row .init-imgs {
  margin-top: 30vh;
  padding-left: 50px;
}
.initial .row .init-imgs .init-phone {
  height: auto;
  max-width: 100%;
}
.initial .row .init-imgs .init-phone::before {
  position: absolute;
  content: "";
  right: 10%;
  top: 10%;
  z-index: -1;
  height: 80%;
  width: 100%;
  border-radius: 50%;
  background-color: #ff3e66;
}
.initial .row .init-imgs .init-mini-card {
  position: absolute;
  top: 25%;
  right: -5%;
}

.init-dark .row .init-info h1,
.init-dark .row .init-info p {
  color: #fff;
}
.init-dark .row .init-info .buttons .btn-ios {
  background-color: transparent;
  border-color: transparent;
}
.init-dark .row .init-info .buttons .btn-and {
  border: transparent;
}

@media screen and (max-width: 1110px) {
  .init-mini-card {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .initial .row .init-info {
    margin-top: 20vh;
    text-align: center;
  }
  .initial .row .init-info h1 {
    font-size: 34px;
    line-height: 42px;
  }
  .initial .row .init-info .buttons {
    display: flex;
    justify-content: center;
  }
  .initial .row .init-imgs {
    margin-top: 10vh;
  }
}
.design {
  margin-top: 250px;
  background-color: #eef1f6;
  padding: 110px 0;
}
.design .design-cards {
  padding: 40px 0 0;
}
.design .design-cards .card {
  text-align: center;
  border-radius: 6px;
  border-color: rgba(2, 1, 1, 0);
  padding: 8px 20px 19px;
  transition: 1s;
}
.design .design-cards .card .card-body img {
  width: 80px;
  margin-bottom: 10px;
  height: auto;
}
.design .design-cards .card .card-body h5 {
  font-size: 20px;
  font-weight: 700;
  color: #0e1133;
  margin: 0 0 10px;
}
.design .design-cards .card .card-body p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #505056;
}
.design .design-cards .card:hover {
  box-shadow: 9px 9px 48px -1px rgba(80, 80, 86, 0.4);
}

.design-dark .title h2,
.design-dark .title p {
  color: #fff;
}
.design-dark .design-cards .card {
  background-color: transparent;
}
.design-dark .design-cards .card .card-body h5,
.design-dark .design-cards .card .card-body p {
  color: #fff;
}
.design-dark .design-cards .card:hover {
  background-color: #fff;
}
.design-dark .design-cards .card:hover .card-body h5 {
  color: #0e1133;
}
.design-dark .design-cards .card:hover .card-body p {
  color: #505056;
}

@media screen and (max-width: 768px) {
  .design {
    margin-top: 550px;
  }
}
.reactions {
  padding: 120px 0 0;
}
.reactions .row .list-cols {
  margin-top: 170px;
}
.reactions .row .list-cols ul {
  padding: 0 40px 0 0;
}
.reactions .row .list-cols ul li {
  list-style: none;
}
.reactions .row .list-cols ul li a {
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
  text-transform: capitalize;
  color: #505056;
  border-right: 3px solid #e8eaef;
  padding: 5px;
  transition: 0.3s;
}
.reactions .row .list-cols ul li a .icon {
  display: inline-block;
  text-align: center;
  font-size: 15px;
  line-height: 36px;
  color: #63636a;
  width: 35px;
  height: 35px;
  background-color: #f1f2f7;
  margin: 3px 14px 3px 0;
  border-radius: 50px;
}
.reactions .row .img-col img {
  width: 401px;
}
.reactions .row .react-col {
  margin-top: 130px;
}
.reactions .row .react-col .small-title {
  font-size: 14px;
  font-weight: 500;
  color: #2b70fa;
}
.reactions .row .react-col h2 {
  font-size: 44px;
  font-weight: 900;
  line-height: 38px;
  color: #0e1133;
  margin: 12px 0 15px;
}
.reactions .row .react-col h2 span {
  display: inline-block;
}
.reactions .row .react-col h2 span:first-child {
  padding: 9px 0;
}
.reactions .row .react-col h2 span:nth-child(2) {
  position: relative;
  padding: 2px 0;
}
.reactions .row .react-col h2 span:nth-child(2):after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  background: #356efd;
  width: 0;
  -webkit-animation: underline 3s infinite;
          animation: underline 3s infinite;
}
.reactions .row .react-col p {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  color: #505056;
  margin-bottom: 20px;
}

.reactions .row .list-cols ul li:hover a, .reactions .row .list-cols ul .active a {
  color: #2b70fa;
  border-color: #2b70fa;
}
.reactions .row .list-cols ul li:hover a .icon, .reactions .row .list-cols ul .active a .icon {
  background-color: #2b70fa;
  color: #fff;
}

@-webkit-keyframes underline {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes underline {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
.reactions-dark .row .list-cols ul li a {
  color: #fff;
}
.reactions-dark .row .react-col h2,
.reactions-dark .row .react-col p {
  color: #fff;
}
.reactions-dark .row .react-col .btn:hover {
  background-color: #fff;
  color: #2b70fa;
}

@media screen and (max-width: 1110px) {
  .reactions {
    display: none;
  }
}
.traffic {
  padding: 190px 0;
}
.traffic .traffic-info span {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5em;
  color: #2b70fa;
}
.traffic .traffic-info h2 {
  font-size: 44px;
  font-weight: 900;
  line-height: 54px;
  margin-bottom: 10px;
  color: #0e1133;
}
.traffic .traffic-info p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #505056;
}
.traffic .traffic-info .traffic-list {
  margin-top: 50px;
}
.traffic .traffic-info .traffic-list ul {
  padding: 0;
}
.traffic .traffic-info .traffic-list ul li {
  list-style: none;
}
.traffic .traffic-info .traffic-list ul li i {
  font-size: 15px;
  line-height: 29px;
  color: #fff;
  background-color: transparent;
  border-radius: 50px;
  box-shadow: 0 6px 10px 0 rgba(16, 73, 189, 0.3);
  width: 26px;
  height: 26px;
  display: block;
  text-align: center;
  left: 0;
  top: 5px;
  padding: 0;
  margin: 7px 10px 0 0;
}
.traffic .traffic-info .traffic-list ul li .check-blue {
  background-image: linear-gradient(135deg, #84bcfa 0%, #2b70fa 100%);
}
.traffic .traffic-info .traffic-list ul li .check-org {
  background-image: linear-gradient(135deg, #f7b8af 0%, #f8452d 100%);
}
.traffic .traffic-info .traffic-list ul li .check-green {
  background-image: linear-gradient(135deg, #a0eac2 0%, #31c369 100%);
}
.traffic .traffic-info .traffic-list ul li .check-purple {
  background-image: linear-gradient(135deg, #d8aaff 0%, #9b2cfa 100%);
}
.traffic .traffic-info .traffic-list ul li .list-text h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2em;
  color: #0e1133;
  margin: 0 0 7px;
}
.traffic .traffic-info .traffic-list ul li .list-text p {
  color: #505056;
  font-size: 15px;
  line-height: 24px;
}
.traffic .traffic-img {
  background-image: url("https://tf.quomodosoft.com/appie/wp-content/uploads/2022/04/traffic-thumb.94f93be8.png");
  background-size: cover;
  background-position: center right;
  background-repeat: no-repeat;
}

.traffic-dark .traffic-info h2,
.traffic-dark .traffic-info p {
  color: #fff;
}
.traffic-dark .traffic-info .traffic-list ul li .list-text h3,
.traffic-dark .traffic-info .traffic-list ul li .list-text p {
  color: #fff;
}
.traffic-dark .btn {
  background-color: #fff;
}

@media screen and (max-width: 768px) {
  .traffic-img {
    display: none;
  }
}
.authors {
  background-image: url(https://tf.quomodosoft.com/appie/wp-content/uploads/2022/02/testimonial-bg-1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.authors .carousel {
  padding: 120px 0;
}
.authors .carousel .carousel-item .author-info {
  margin-bottom: 15px;
}
.authors .carousel .carousel-item .author-info h5 {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  padding-top: 10px;
  margin-bottom: 15px;
}
.authors .carousel .carousel-item .author-info span {
  font-size: 14px;
  color: #fff;
  opacity: 0.7;
}
.authors .carousel .carousel-item .author-text {
  text-align: center;
  margin: 0 auto;
  width: 770px;
}
.authors .carousel .carousel-item .author-text p {
  font-size: 20px;
  line-height: 30px;
  color: #fff;
}
.authors .carousel .carousel-item .author-text ul {
  margin: 10px 0 0;
  padding-left: 0;
}
.authors .carousel .carousel-item .author-text ul li {
  list-style: none;
  margin: 0 2px;
}
.authors .carousel .carousel-item .author-text ul li i {
  color: #ffb848;
}

@media screen and (max-width: 1100px) {
  .authors .carousel .carousel-item .author-text {
    width: 350px;
  }
}
.team {
  padding: 120px 0;
}
.team .row {
  margin-top: 40px;
}
.team .row .card {
  border: 0;
  position: relative;
  transition: 0.5s;
  overflow: hidden;
}
.team .row .card img {
  border-radius: 10px;
  margin-bottom: 14px;
}
.team .row .card .card-body {
  text-align: center;
}
.team .row .card .card-body .card-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.2em;
  color: #0e1133;
  margin: -3px 0 8px;
}
.team .row .card .card-body .card-text {
  font-size: 14px;
  color: #81818d;
}
.team .row .card .member-socials {
  display: block;
  width: 100%;
  position: absolute;
  bottom: 110px;
  left: -90%;
  padding: 20px;
  visibility: hidden;
}
.team .row .card .member-socials a {
  font-size: 16px;
  line-height: 35px;
  width: 36px;
  height: 36px;
  text-align: center;
  transition: 0.3s;
  color: #fff;
  border: 2px solid #a6a7b4;
  border-radius: 50%;
}
.team .row .card .member-socials a:hover {
  color: #2b70fa;
  background: #fff;
  border: #fff;
}
.team .row .card:hover .member-socials {
  visibility: visible;
  -webkit-animation: social 0.5s;
          animation: social 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.team button {
  margin: 50px auto 0;
}

@-webkit-keyframes social {
  0% {
    left: -90%;
  }
  100% {
    left: 0;
  }
}

@keyframes social {
  0% {
    left: -90%;
  }
  100% {
    left: 0;
  }
}
.team-dark .title h2,
.team-dark .title p {
  color: #fff;
}
.team-dark .row .card {
  background-color: transparent;
}
.team-dark .row .card .card-body .card-title,
.team-dark .row .card .card-body .card-text {
  color: #fff;
}
.team-dark .btn {
  background-color: #fff;
}

.plans {
  background-color: #eceff4;
  padding: 110px 0 80px;
}
.plans .toggles {
  margin-top: 20px;
}
.plans .toggles li {
  list-style: none;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  color: #505056;
}
.plans .toggles li input {
  height: 0;
  width: 0;
  visibility: hidden;
}
.plans .toggles li input:checked + label {
  background: #fff;
}
.plans .toggles li input:checked + label::after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}
.plans .toggles li label {
  cursor: pointer;
  text-indent: -9999px;
  width: 90px;
  height: 40px;
  background: #fff;
  display: block;
  border-radius: 100px;
  position: relative;
}
.plans .toggles li label::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 30px;
  height: 30px;
  background: #2b70fa;
  border-radius: 90px;
  transition: 0.3s;
}
.plans .toggles li label:active::after {
  width: 20px;
}
.plans .toggles li:nth-child(odd) {
  padding: 0 20px;
}
.plans .row {
  margin-top: 50px;
}
.plans .row .col-12 .card {
  position: relative;
  padding: 40px 40px 50px;
  border: 0;
  transition: 0.3s;
}
.plans .row .col-12 .card .card-body {
  padding: 0;
}
.plans .row .col-12 .card .card-body .card-title {
  font-size: 20px;
  font-weight: 500;
  color: #0e1133;
}
.plans .row .col-12 .card .card-body .card-info {
  border-bottom: 1px solid #e1e4ea;
  padding-bottom: 20px;
}
.plans .row .col-12 .card .card-body .card-info .price {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  color: #0e1133;
  margin: 0 0 15px;
}
.plans .row .col-12 .card .card-body .card-info .price strong {
  font-size: 24px;
  font-weight: 400;
  position: relative;
  top: -6px;
}
.plans .row .col-12 .card .card-body .card-info .price span {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  color: #505056;
}
.plans .row .col-12 .card .card-body .card-info .per-day {
  font-size: 14px;
  font-weight: 400;
  color: #505056;
}
.plans .row .col-12 .card .card-body .card-text {
  padding: 0;
  margin-top: 30px;
}
.plans .row .col-12 .card .card-body .card-text li {
  font-size: 15px;
  font-weight: 500;
  color: #505056;
  margin: 8px 0;
}
.plans .row .col-12 .card .card-body .card-text li .icon {
  width: 25px;
  height: 25px;
  font-size: 14px;
  line-height: 1;
  text-align: center;
  background-color: #effaf3;
  border-radius: 50%;
  padding-top: 5px;
  margin-right: 10px;
  transition: 0.3s;
}
.plans .row .col-12 .card .card-body .card-text li .icon .green {
  color: #31c369;
}
.plans .row .col-12 .card .card-body .card-text li .icon .red {
  color: #f8452d;
}
.plans .row .col-12 .card .popular {
  position: absolute;
  top: -20px;
  right: 5%;
}
.plans .row .col-12:nth-child(2) .card {
  box-shadow: 0 40px 40px 0 rgba(14, 17, 51, 0.1);
}
.plans .row .col-12:nth-child(odd) .card:hover {
  box-shadow: 10px 10px 25px 0 rgba(0, 0, 0, 0.14);
}
.plans .show {
  display: none;
  padding-left: 20px;
}

.plans-dark .title h2,
.plans-dark .title p {
  color: #fff;
}
.plans-dark .toggles li {
  color: #fff;
}
.plans-dark .row .col-12 .card {
  background-color: transparent;
  border: 1px solid #fff;
}
.plans-dark .row .col-12 .card .card-body .card-title,
.plans-dark .row .col-12 .card .card-body .card-info .price,
.plans-dark .row .col-12 .card .card-body .card-info .price span,
.plans-dark .row .col-12 .card .card-body .card-info .per-day,
.plans-dark .row .col-12 .card .card-body .card-text li {
  color: #fff;
}

.questions {
  background-color: #eceff4;
  background-image: url(https://tf.quomodosoft.com/appie/wp-content/uploads/2022/03/faq-shape1.png);
  background-position: 94% 100%;
  background-repeat: no-repeat;
  background-size: auto;
  padding: 5px 0 120px;
}
.questions .accordion {
  margin-top: 50px;
}
.questions .accordion .accordion-item .accordion-header .accordion-button {
  font-size: 18px;
  font-weight: 700;
  color: #0e1133;
}
.questions .accordion .accordion-item .accordion-body {
  color: #505056;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}
.questions .accordion .accordion-item:not(:last-child) {
  margin-bottom: 30px;
}
.questions .email {
  margin-top: 30px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #505056;
}
.questions .email a {
  text-decoration: none;
  color: #2b70fa;
}

.questions-dark .title h2,
.questions-dark .title p {
  color: #fff;
}
.questions-dark .email {
  color: #fff;
}

.blog {
  padding: 110px 0;
}
.blog .row {
  margin-top: 45px;
}
.blog .row .card {
  border: 0;
  overflow: hidden;
}
.blog .row .card .img {
  border-radius: 10px;
  overflow: hidden;
}
.blog .row .card .img img {
  width: 100%;
  transition: 0.3s;
}
.blog .row .card .card-body {
  padding: 0;
  margin-top: 18px;
}
.blog .row .card .card-body .card-title {
  font-size: 14px;
  font-weight: 400;
  color: #505056;
}
.blog .row .card .card-body .card-title .date {
  position: relative;
  margin-right: 20px;
}
.blog .row .card .card-body .card-title .date::before {
  content: "";
  position: absolute;
  left: calc(100% + 9px);
  top: 50%;
  transform: translateY(-50%);
  height: 5px;
  width: 5px;
  background: #2b70fa;
  border-radius: 50%;
}
.blog .row .card .card-body .card-title .category {
  text-decoration: none;
  color: #505056;
  transition: 0.3s;
}
.blog .row .card .card-body .card-title .category:hover {
  color: #2b70fa;
}
.blog .row .card .card-body .card-text a {
  text-decoration: none;
  font-size: 24px;
  font-weight: 500;
  line-height: 34px;
  color: #0e1133;
  transition: 0.3s;
}
.blog .row .card .card-body .card-text a:hover {
  color: #2b70fa;
}
.blog .row .card:hover img {
  transform: scale(1.1);
}

.blog-dark .title h2,
.blog-dark .title p {
  color: #fff;
}
.blog-dark .row .card {
  background-color: transparent;
}
.blog-dark .row .card .card-body .card-title {
  color: #fff;
}
.blog-dark .row .card .card-body .card-title .category {
  color: #fff;
}
.blog-dark .row .card .card-body .card-text a {
  color: #fff;
}
.blog-dark .row .card .card-body .read {
  color: #fff;
}

@media screen and (max-width: 768px) {
  .card {
    margin-bottom: 30px;
  }
}
.subscribe {
  padding: 0 0 120px;
}
.subscribe .container {
  background-image: url(https://tf.quomodosoft.com/appie/wp-content/uploads/2022/03/project-bg1.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  padding: 80px 55px 0;
}
.subscribe .container .row {
  position: relative;
  overflow: hidden;
}
.subscribe .container .row .subs-text {
  margin-bottom: 90px;
}
.subscribe .container .row .subs-text h3 {
  font-size: 50px;
  font-weight: 900;
  line-height: 60px;
  color: #fff;
  margin-bottom: 10px;
}
.subscribe .container .row .subs-text p {
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.8);
}
.subscribe .container .row .subs-text form {
  margin-top: 30px;
}
.subscribe .container .row .subs-text form input {
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  color: #505056;
  background-color: #fff;
  border: 0;
  border-radius: 6px;
  width: 70%;
  height: 50px;
  padding: 0 0 0 30px;
  margin-right: 10px;
}
.subscribe .container .row .subs-text form button {
  display: inline-block;
  color: #fff;
  background-color: #0e1133;
  border-radius: 6px;
  border: 0;
  width: 120px;
  height: 50px;
  padding: 0;
}
.subscribe .container .row .subs-img {
  position: absolute;
  right: -10%;
  bottom: 0;
}

@media screen and (max-width: 768px) {
  .subscribe .container {
    padding: 50px 15px 0;
  }
  .subscribe .container .row .subs-text h3 {
    font-size: 33px;
    line-height: 45px;
  }
  .subscribe .container .row .subs-text form {
    padding-bottom: 300px;
  }
  .subscribe .container .row .subs-text form input {
    width: 100%;
    margin-bottom: 10px;
  }
}
.footer {
  padding: 100px 0 80px;
  background-color: #eef1f6;
}
.footer .logo-text .logo {
  margin-bottom: 20px;
}
.footer .logo-text .logo svg .a {
  fill: #0e1133;
}
.footer .logo-text .logo svg .b {
  fill: #2b70fa;
}
.footer .logo-text p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #505056;
  margin-bottom: 20px;
}
.footer .logo-text .social-icons {
  margin-top: 30px;
  padding: 0;
}
.footer .logo-text .social-icons li {
  list-style: none;
  text-align: center;
}
.footer .logo-text .social-icons li i {
  line-height: 32px;
  font-size: 16px;
  width: 32px;
  height: 32px;
  border-radius: 10%;
  background-color: #fff;
  color: #0e1133;
  transition: 0.3s;
}
.footer .logo-text .social-icons li:not(:last-child) {
  margin-right: 10px;
}
.footer .logo-text .social-icons li:hover i {
  background-color: #2b70fa;
  color: #fff;
}
.footer .foot-col {
  text-align: left;
  margin: 0 auto;
}
.footer .foot-col .foot-title {
  color: #0e1133;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}
.footer .foot-col ul {
  padding: 0;
  margin-top: 5px;
}
.footer .foot-col ul li {
  list-style: none;
}
.footer .foot-col ul li a {
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  line-height: 32px;
  color: #505056;
  transition: 0.3s;
}
.footer .foot-col ul li:hover a {
  color: #2b70fa;
}
.footer .touch li {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  color: #505056;
  line-height: 1.8em;
  letter-spacing: 0.1px;
  padding-left: 5px;
}
.footer .touch li i {
  font-size: 18px;
  color: #2b70fa;
  padding-right: 10px;
}
.footer .touch li:not(:last-child) {
  margin-bottom: 7px;
}

.foot-bar {
  padding: 30px 0 50px;
  background-color: #eef1f6;
  border-top: 1px solid #e1e5ec;
}
.foot-bar .copy {
  font-size: 15px;
  font-weight: 400;
  color: #505056;
}

.footer-dark .logo-text .logo svg .a {
  fill: #fff;
}
.footer-dark .logo-text .logo svg .b {
  fill: #2b70fa;
}
.footer-dark .logo-text p {
  color: #fff;
}
.footer-dark .logo-text .read {
  color: #fff;
}
.footer-dark .foot-col .foot-title {
  color: #fff;
}
.footer-dark .foot-col ul li a {
  color: #fff;
}
.footer-dark .touch li {
  color: #fff;
}

.foot-bar-dark {
  background-color: transparent;
}
.foot-bar-dark .buttons .btn-f-ios:hover {
  background-color: transparent;
  color: #fff;
  border-color: transparent;
}
.foot-bar-dark .buttons .btn-f-and {
  color: #fff;
}
.foot-bar-dark .buttons .btn-f-and:hover {
  color: #0e1133;
}
.foot-bar-dark .copy {
  color: #fff;
}

@media screen and (max-width: 768px) {
  .footer .row .col-12 {
    text-align: center;
  }
  .footer .row .col-12 .social-icons {
    align-items: center;
    justify-content: center;
  }
  .footer .row .touch ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .foot-bar .container {
    display: flex;
    flex-direction: column;
  }
  .foot-bar .container .buttons {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .foot-bar .container .buttons button {
    margin-bottom: 20px;
  }
}
body {
  font-family: "Roboto", sans-serif;
}/*# sourceMappingURL=style.css.map */