.initial {
  height: 100vh;
  padding-top: 150px;
  .row {
    .init-info {
      padding-top: 50vh;
      span {
        font-size: 14px;
        font-weight: 500;
        line-height: 1.5em;
        color: $blue;
      }
      h1 {
        font-size: 60px;
        font-weight: 900;
        line-height: 70px;
        margin: 7px 0 22px;
      }
      p {
        font-size: 18px;
        line-height: 28px;
        color: $text-grey;
      }
    }
    .init-imgs {
      margin-top: 30vh;
      padding-left: 50px;
      .init-phone {
        height: auto;
        max-width: 100%;
        &::before {
          position: absolute;
          content: "";
          right: 10%;
          top: 10%;
          z-index: -1;
          height: 80%;
          width: 100%;
          border-radius: 50%;
          background-color: #ff3e66;
        }
      }
      .init-mini-card {
        position: absolute;
        top: 25%;
        right: -5%;
      }
    }
  }
}

@media screen and (max-width: 1110px) {
  .init-mini-card {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .initial {
    .row {
      .init-info {
        margin-top: 20vh;
        text-align: center;
        h1 {
          font-size: 34px;
          line-height: 42px;
        }
        .buttons {
          display: flex;
          justify-content: center;
        }
      }
      .init-imgs {
        margin-top: 10vh;
      }
    }
  }
}
