.team {
  padding: 120px 0;
  .row {
    margin-top: 40px;
    .card {
      border: 0;
      position: relative;
      transition: 0.5s;
      overflow: hidden;
      img {
        border-radius: 10px;
        margin-bottom: 14px;
      }
      .card-body {
        text-align: center;
        .card-title {
          font-size: 18px;
          font-weight: 700;
          line-height: 1.2em;
          color: $black;
          margin: -3px 0 8px;
        }
        .card-text {
          font-size: 14px;
          color: #81818d;
        }
      }
      .member-socials {
        display: block;
        width: 100%;
        position: absolute;
        bottom: 110px;
        left: -90%;
        padding: 20px;
        visibility: hidden;
        a {
          font-size: 16px;
          line-height: 35px;
          width: 36px;
          height: 36px;
          text-align: center;
          transition: 0.3s;
          color: $white;
          border: 2px solid #a6a7b4;
          border-radius: 50%;
          &:hover {
            color: $blue;
            background: $white;
            border: $white;
          }
        }
      }
      &:hover {
        .member-socials {
          visibility: visible;
          animation: social 0.5s;
          animation-fill-mode: forwards;
        }
      }
    }
  }
  button {
    margin: 50px auto 0;
  }
}

@keyframes social {
  0% {
    left: -90%;
  }
  100% {
    left: 0;
  }
}
