.title {
  text-align: center;
  h2 {
    font-size: 44px;
    font-weight: 900;
    line-height: 54px;
    color: $black;
    margin-bottom: 15px;
  }
  p {
    color: $text-grey;
    font-size: 18px;
    line-height: 28px;
    margin: 0;
  }
}
